@import "tailwindcss";

@font-face {
  font-family: "Gerbil";
  src: url("/fonts/Gerbil.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

.font-gerbil {
  font-family: "Gerbil", sans-serif;
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}